@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, fieldset, form, p, span, a, ul, li, ol, dl, dd, dt, img {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

ul, li, ol {
  list-style: none;
}

a, u {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  border: 0;
}

body {
  font-family: "微软雅黑";
}

.gdT1 {
  width: 100%;
  height: 32px;
  background: #f6f6f6;
}

.gdNav {
  width: 1020px;
  height: 32px;
  margin: 0 auto;
}

.gdNav a {
  line-height: 32px;
  padding: 0 16px;
  margin-left: 10px;
  font-size: 12px;
}

.line {
  float: right;
}

.line li {
  float: left;
}

.line li li span {
  line-height: 32px;
}

.gdNav a:hover {
  color: #cd9368;
}

.help, .tel, .telshop, .weixin {
  position: relative;
}

.telbj {
  display: block;
  width: 10px;
  height: 12px;
  background: url(../img/public-sprite.png) 0 0;
  position: absolute;
  left: -2px;
  top: 2px;
}

.wxbj {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/public-sprite.png) 45px -68px;
  position: absolute;
  top: 2px;
  left: -5px;
}

.telsbj {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/public-sprite.png) 62px -68px;
  position: absolute;
  top: 2px;
  left: -4px;
}

.wx {
  position: relative;
}

.wx .wxpic {
  background: white;
  width: 138px;
  height: 0;
  position: absolute;
  top: 32px;
  left: -17px;
  text-align: center;
  overflow: hidden;
  z-index: 100;
}

.wx .wxpic img {
  margin: 20px;
}

.sj {
  position: relative;
}

.sj .telpic {
  background: white;
  width: 138px;
  height: 0;
  position: absolute;
  top: 32px;
  left: -15px;
  text-align: center;
  overflow: hidden;
  z-index: 100;
}

.sj .telpic img {
  margin: 20px;
}

.gdLogo {
  width: 1020px;
  height: 90px;
  margin: 0 auto;
}

.gdLogo_imgL {
  width: 150px;
  height: 60px;
  float: left;
  margin-left: 100px;
  margin-top: 20px;
}

.gdLogo_imgR {
  float: left;
  margin: 0  130px;
}

.gdLogo_inp {
  margin-top: 45px;
  width: 135px;
}

.logo_seach {
  width: 55px;
  height: 24px;
  background: black;
  color: white;
  border: none;
}

.gdT2 {
  height: 30px;
  width: 100%;
  background: #444851;
}

.gd_nav {
  width: 1275px;
  height: 30px;
  margin: 0 auto;
}

.nav_pull-down {
  float: left;
  width: 190px;
  height: 30px;
  position: relative;
  z-index: 20;
}

.nav_pull-down .pull_top {
  width: 190px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}

.nav_pull-down .pull_top a {
  margin-left: 10px;
}

.nav_pull-down .pull_top span {
  display: block;
  width: 13px;
  height: 13px;
  background: white;
  float: right;
  border-radius: 50%;
  margin: 10px 30px 0 0;
  background: url(../img/pupop.png) -74px -98px;
}

.nav_pull-down a {
  color: white;
  font-size: 14px;
  margin: 0 14px;
}

.nav_pull-down .pull-down {
  background: #353535;
  height: 0;
}

.nav_pull-down .pull-down li {
  height: 26px;
  line-height: 26px;
  border-bottom: 1px solid #444851;
  padding-left: 20px;
  position: relative;
  display: none;
}

.nav_pull-down .pull-down span {
  display: block;
  width: 13px;
  height: 13px;
  margin: 10px 10px 0 0;
  background: url(../img/pupop.png) -107px -136px;
  float: right;
  display: none;
}

.gd_navA {
  float: left;
}

.gd_navA a {
  color: white;
  margin: 0 14px;
  line-height: 30px;
  font-size: 14px;
}

.nav_left_first, .nav_left_second {
  position: absolute;
}

.nav_left_first div, .nav_left_second div {
  background: #353535;
  position: absolute;
  right: -118px;
  top: 0;
  z-index: 100;
  height: 0;
  overflow: hidden;
}

.nav_left_first div p, .nav_left_second div p {
  position: relative;
  height: 26px;
  line-height: 26px;
  border-bottom: 1px solid #444851;
  padding-left: 20px;
  border: 0;
}

.nav_left_first div p i, .nav_left_second div p i {
  display: block;
  width: 5px;
  height: 5px;
  background: white;
  position: absolute;
  top: 10px;
  left: 20px;
}

.footer {
  width: 1000px;
  margin: 40px auto 50px;
  overflow: hidden;
}

.footer .footer_left {
  float: left;
  height: 140px;
  border-left: 1px dashed #ddd;
  border-right: 1px dashed #ddd;
  text-align: center;
}

.footer .footer_left a {
  display: inline-block;
  margin: 16px 5px;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #cd9368;
  border-radius: 4px;
  color: #cd9368;
}

.footer .footer_center li {
  float: left;
  width: 110px;
  height: 140px;
  border-right: 1px dashed #ddd;
  text-align: center;
}

.footer .footer_center li h3 {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #444;
}

.footer .footer_center li a {
  display: block;
  line-height: 28px;
  color: #999;
  font-size: 12px;
}

.footer .footer_center li a:hover {
  color: #cd9368;
}

.footer .footer_right {
  float: right;
  height: 140px;
}

.footer .footer_right li {
  float: left;
  width: 96px;
  text-align: center;
  margin-left: 44px;
}

.footer .footer_right h3 {
  margin-bottom: 12px;
  line-height: 16px;
  height: 16px;
  color: #484848;
  font-size: 16px;
}

.gd_end {
  width: 1000px;
  margin: 40px auto 50px;
}

.gd_end a:hover {
  color: #cd9368;
}

.gd_end ul p {
  float: left;
}

.gd_end ul li {
  float: left;
}

.gd_end ul li a {
  font-size: 12px;
  margin: 0 12px;
}

.gd_end .endCop {
  text-align: center;
  color: #5e5e5e;
  margin: 20px 0;
  font-size: 12px;
}

.gd_end .end_logo {
  width: 200px;
  margin: 20px auto;
}

.gd_end .end_logo img {
  height: 32px;
  width: auto;
  float: left;
  margin: 20px 10px;
}

.gd_right {
  width: 40px;
  height: 100%;
  position: fixed;
  background: #444851;
  z-index: 20;
  top: 0;
  right: 0;
}

.gd_right .right_top {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -190px;
  background: #444851;
  z-index: 2;
  width: 40px;
}

.gd_right .right_top li {
  position: relative;
  display: block;
  left: 0;
  top: 0px;
}

.gd_right .right_top .l1 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  background: url(../img/logo2017.png) no-repeat 0 0;
}

.gd_right .right_top .l2 {
  border-bottom: 1px solid #353535;
  border-top: 1px solid #353535;
  margin-top: 18px;
  padding-bottom: 14px;
}

.gd_right .right_top .l2 a {
  display: block;
  background: url(../img/logo2017.png) no-repeat 0 -40px;
  width: 40px;
  height: 38px;
  top: 6px;
  left: 0;
}

.gd_right .right_top .l2 p {
  width: 16px;
  height: 60px;
  margin: 0 0 0 10px;
  cursor: pointer;
  color: white;
}

.gd_right .right_top .l2 span {
  width: 21px;
  height: 21px;
  display: block;
  border-radius: 50%;
  background: #ed145b;
  text-align: center;
  line-height: 21px;
  margin: 9px 0 0 10px;
  color: white;
  text-decoration: none;
}

.gd_right .right_top .l3 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  background: url(../img/logo2017.png) 0 -115px;
}

.gd_right .right_top .l3 div {
  display: none;
  position: absolute;
  height: 38px;
  line-height: 38px;
  width: 92px;
  position: absolute;
  z-index: 2;
  left: -121px;
  top: 0;
  background: #444851;
  color: #d8d8d8;
  text-align: center;
}

.gd_right .right_top .l3 div span {
  position: absolute;
  right: -5px;
  top: 15px;
  width: 5px;
  height: 9px;
  background: url(../img/logo2017.png) no-repeat -40px -190px;
}

.gd_right .right_top .l4 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  background: url(../img/logo2017.png) 0 -80px;
}

.gd_right .right_top .l4 div {
  display: none;
  position: absolute;
  height: 38px;
  line-height: 38px;
  width: 92px;
  position: absolute;
  z-index: 2;
  left: -121px;
  top: 0;
  background: #444851;
  color: #d8d8d8;
  text-align: center;
}

.gd_right .right_top .l4 div span {
  position: absolute;
  right: -5px;
  top: 15px;
  width: 5px;
  height: 9px;
  background: url(../img/logo2017.png) no-repeat -40px -190px;
}

.gd_right .right_top .l5 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  background: url(../img/logo2017.png) 0 -152px;
}

.gd_right .right_top .l5 div {
  display: none;
  position: absolute;
  height: 38px;
  line-height: 38px;
  width: 92px;
  position: absolute;
  z-index: 2;
  left: -121px;
  top: 0;
  background: #444851;
  color: #d8d8d8;
  text-align: center;
}

.gd_right .right_top .l5 div span {
  position: absolute;
  right: -5px;
  top: 15px;
  width: 5px;
  height: 9px;
  background: url(../img/logo2017.png) no-repeat -40px -190px;
}

.gd_right .right_top .l6 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  background: url(../img/r1.gif) no-repeat 0 0;
}

.gd_right .right_top .l6 .show {
  position: absolute;
  width: 130px;
  height: 191px;
  left: -130px;
  bottom: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: none;
}

.gd_right .right_top .l6 .show p {
  font-size: 16px;
  color: #444851;
  text-align: center;
  font-weight: 600;
}

.gd_right .right_top .l6 .show div {
  width: 114px;
  height: 106px;
  background-color: #ED145B;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
}

.gd_right .right_top .l6 .show div li {
  width: 100%;
  margin-top: 10px;
}

.gd_right .right_top .l6 .show div li span {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 36px;
  background: url(../img/r1.gif) no-repeat -40px 0;
  float: left;
}

.gd_right .right_top .l6 .show div li i {
  height: 36px;
  float: left;
  font-style: normal;
  border-bottom: 1px dashed white;
}

.gd_right .right_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  background: #444851;
  z-index: 20;
}

.gd_right .right_bottom li {
  position: relative;
  display: block;
  left: 0;
  top: 0px;
}

.gd_right .right_bottom .bottom_floor a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  background: url(../img/logo2017.png) no-repeat -40px -148px;
}

.gd_right .right_bottom .bottom_floor div {
  display: none;
  position: absolute;
  width: 108px;
  height: 108px;
  top: -70px;
  left: -108px;
  background: #fff;
  padding-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px 0 0 5px;
}

.gd_right .right_bottom .bottom_floor div img {
  margin: auto;
}

.gd_right .right_bottom .bottom_end a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  background: url(../img/logo2017.png) no-repeat -50px -200px;
}

body {
  background: url(../img/list_bg.jpg) no-repeat -240px 0;
}

.main {
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}

.main .main_left {
  margin-top: 20px;
  float: left;
  width: 190px;
}

.main .main_left p {
  border-bottom: 1px solid #000000;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.main .main_left .u1 {
  background: #C8C8C8;
}

.main .main_left .u1 h6 {
  line-height: 22px;
  font-size: 12px;
  font-weight: 900;
}

.main .main_left .u1 a {
  color: #2b2b2b;
  font-size: 12px;
}

.main .main_left h3 {
  font-size: 12px;
  font-weight: 700;
  padding-top: 5px;
  overflow: hidden;
  padding-left: 10px;
  color: #404040;
  border: 1px solid red;
  border-bottom: 0;
}

.main .main_left .u2 li img:nth-child(1) {
  max-height: 160px;
  max-width: 160px;
  vertical-align: middle;
  border: 1px solid #ccc;
  margin: 10px auto;
}

.main .main_left .u2 li a {
  color: #2953A6;
  font-size: 12px;
  text-align: center;
  line-height: 1.2px;
}

.main .main_left .u2 li a:hover {
  color: red;
}

.main .main_left .u2 li span {
  color: #999999;
  padding-right: 4px;
  font-size: 12px;
  margin-left: 30px;
}

.main .main_left .u2 li strong {
  background: url(../img/icon3.png) -3px -305px no-repeat;
  color: #FF6600;
  padding-left: 15px;
}

.main .main_left .u2 li div {
  font-size: 12px;
  text-align: center;
}

.main .main_left .u2 li div em {
  color: #CEAA00;
  font-weight: 700;
  padding: 0 0.5em;
  font-family: tahoma,arial,SimSun;
}

.main .main_right {
  margin-left: 10px;
  float: left;
  width: 750px;
}

.main .main_right .imgShow {
  margin-top: 20px;
  display: block;
  width: 750px;
  height: 350px;
}

.main .main_right .imgShow img {
  width: 100%;
  height: 100%;
}

.main .main_right .seach {
  margin-top: 20px;
  background-color: #FCFCFC;
  border: 1px solid #E5E5E5;
  padding-bottom: 65px;
  width: 100%;
}

.main .main_right .seach h3 {
  margin-bottom: 10px;
  float: left;
  margin-right: 0.5em;
  color: #3366CC;
  font-size: 14px;
  font-weight: 900;
  width: 100%;
}

.main .main_right .seach span {
  float: left;
}

.main .main_right .seach div {
  margin-left: 30px;
  float: left;
}

.main .main_right .seach div p:nth-child(1) {
  height: 25px;
  float: left;
  padding-left: 50px;
}

.main .main_right .seach div p:nth-child(1) a {
  float: left;
  margin-left: -50px;
  text-align: right;
  width: 50px;
}

.main .main_right .seach div p:nth-child(1) input {
  width: 109px;
}

.main .main_right .seach div p:nth-child(2), .main .main_right .seach div p:nth-child(3) {
  height: 25px;
  float: left;
  padding-left: 50px;
}

.main .main_right .seach div p:nth-child(2) a, .main .main_right .seach div p:nth-child(3) a {
  float: left;
  margin-left: -50px;
  text-align: right;
  width: 50px;
}

.main .main_right .seach div p:nth-child(2) input, .main .main_right .seach div p:nth-child(3) input {
  width: 45px;
}

.main .main_right .seach button {
  float: right;
  background: url(../img/button.png) no-repeat 0 0;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  margin-top: 0;
  text-align: center;
  width: 80px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
}

.main .main_right .show_img {
  width: 2000px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
}

.main .main_right .show_img .gd_tx {
  margin: 0 auto;
  width: 750px;
  margin-top: 10px;
  overflow: hidden;
}

.main .main_right .show_img .gd_tx li {
  margin-right: 20px;
  height: 297px;
  float: left;
}

.main .main_right .show_img .gd_tx li img {
  height: 220px;
  width: 220px;
  border: 1px solid #ccc;
}

.main .main_right .show_img .gd_tx li p {
  font-size: 12px;
  width: 220px;
  height: 33px;
  overflow: hidden;
  line-height: 17px;
}

.main .main_right .show_img .gd_tx li span {
  display: block;
  color: #B8906D;
  font-size: 16px;
  font-weight: bold;
  width: 220px;
}

.main .main_right .show_img .gd_tx li p:hover {
  color: deepskyblue;
}

.main .main_right .list_next {
  widows: 750px;
  height: 30px;
}

.main .main_right .list_next ul {
  float: right;
}

.main .main_right .list_next ul li {
  float: left;
  margin: 5px;
  border: 1px solid #ccc;
}

.main .main_right .list_next ul li a {
  margin: 5px;
  color: blue;
}

.main .main_right .list_next button {
  float: right;
  background: url(../img/button.png) no-repeat 0 0;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  height: 26px;
  line-height: 26px;
  margin-top: 0;
  text-align: center;
  width: 80px;
  margin-top: 2px;
}

.main .main_right .list_next p {
  float: right;
  margin: 0 5px;
  line-height: 30px;
}

.main .main_right .list_next p input {
  border: 1px solid #A7A6AA;
  height: 16px;
  font-size: 100%;
  margin: 0 0.5em;
  padding: 0 3px;
  text-align: center;
  width: 25px;
}
