
@charset "utf-8";
@import "common";

.gd_main{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    .land_img{
        display: inline;
        float: left;
        width: 508px;
        margin-top: 54px
    }
    .denglu{
        float: left;
        width: 323px;
        height: 323px;
        overflow: hidden;
        background:url(../img/landbj.png);
        border:1px solid #ccc;
        margin-top: 69px;
        margin-bottom: 54px;
        h3{
                font-size: 14px;
                font-weight: bold;
                padding-left: 24px;
                padding-top: 20px;
                color: #000;
        }
        .nam{
            margin: 30px 0 0 50px;
             a{
                   text-align: right;
                    width: 32%;
                    padding-right: 18px;
                    font-size: 12px;
           }
            input{
                    height: 24px;
                    line-height: 24px;
                    width: 180px;
                    border: 1px solid #c8c8c8;
                    padding-left: 5px;
                  //  color: #ccc;
            }
        }
        .pwd{
           margin: 10px 0 0 50px; 
           a{
                   text-align: right;
                    width: 32%;
                    padding-right: 30px;
                    font-size: 12px;
           }
           input{
                   height: 24px;
                    line-height: 24px;
                    width: 180px;
                    border: 1px solid #c8c8c8;
                    padding-left: 5px;
           } 
        }
        
        .check{
            margin: 30px auto 0;
            line-height:30px ;
            
            #check{
                    color: #999999;
                    display: inline-block;
                    height: 13px;
                    line-height: 22px;
                   // padding-top:10px ;
                    margin-left: 100px;
                
            }
        }
        .dl{
            margin: 20px auto;
            line-height: 30px;
            width: 100%;
            .send{
                float: left;
                margin-left: 100px;
                    background: url(../img/icon11.png) 0 -100px no-repeat;
                    height: 27px;
                    width: 86px;
                    margin-right: 6px;
            }
            a{
                float:left;
                font-size: 14px;
            }
        }
        .land{
            margin-left: 100px;
            margin-top: 30px;
            a{
                float: left;
                margin: 0 10px;
                color: #2953A6;
                font-size: 14px;
            }
           
        }
       
    }
}
